.Logo {
    background: #fff;
    /* background: rgb(207, 143, 46); */
    /* background: radial-gradient(circle, rgba(207, 143, 46, 1) 0%, rgba(112, 59, 9, 1) 61%, rgba(112, 59, 9, 1) 100%); */
    padding: 8px;
    height: 80%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid rgb(207, 143, 46);
}

.Logo img {
    height: 100%;
}