.ContactData {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ececec;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}


@media(min-width:600px) {
    .ContactData {
        width: 500px;
    }
}

.ContactData .Button:first-of-type {
    margin-left: inherit;
    padding-left: inherit;
    outline: red !important;
}